<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648628325679-tk7uf24n80f3g46uop38j2jvsr98plji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648628325679-tk7uf24n80f3g46uop38j2jvsr98plji</string>
	<key>API_KEY</key>
	<string>AIzaSyAD9fpjZ8xpU_Kf3x4Sqva_JJxfKjGS0-0</string>
	<key>GCM_SENDER_ID</key>
	<string>648628325679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Willy.Midterm</string>
	<key>PROJECT_ID</key>
	<string>midterm-62d60</string>
	<key>STORAGE_BUCKET</key>
	<string>midterm-62d60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648628325679:ios:4710c70eec080a2c6ca5da</string>
</dict>
</plist>